---
import BentoLayout from "@/layouts/BentoLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import SectionContainer from "@/components/portfolio/SectionContainer.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<BentoLayout title="Sobre mí - doneber.dev">
	<main>
		<SectionContainer>
			<h1>Publicaciones recientes</h1>
			<p>Aquí estan mis últimas publicaciones</p>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a
								href={`/blog/${post.id}/`}
								style="display:flex; gap: 1rem; align-items:center;"
							>
								<h4 class="title">{post.data.title}</h4> |
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</SectionContainer>
	</main>
</BentoLayout>
