<div>
    <slot />
</div>
<style>
    div {
        margin: 40px auto;
        max-width: 850px;
    }

    @media (width < 600px) {
        div {
            max-width: 100%;
            margin-right: 0.6rem;
            margin-left: 0.6rem;
        }
    }
</style>
