---
import { getI18N } from "@/i18n";
import Hero from "@/components/portfolio/Hero.astro"
import SectionContainer from "../portfolio/SectionContainer.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<main>
  <SectionContainer>
    <Hero />
  </SectionContainer>
  <SectionContainer>
    <h2>{i18n.PORTFOLIO.EXPERIENCE_TITLE}</h2>
    <ul>
      {
        i18n.PORTFOLIO.EXPERIENCE_LIST.map((exp) => (
          <li>
            <p>{exp.TITLE_JOB}</p>
            <p>{exp.DESCRIPTION_JOB}</p>
          </li>
        ))
      }
    </ul>
  </SectionContainer>
  <SectionContainer>
    <h2>Proyectos</h2>
    <ul>
      <li>
        <a href="https://hug.doneber.dev/">Hugs</a>
        <p>Genera mensajes de felicitaciones personalizadas</p>
      </li>
      <li>
        <a href="/">Website</a>
        <p>Sitio web personal de @donberdev</p>
      </li>
    </ul>
  </SectionContainer>
  <SectionContainer>
    <h2>Sobre mí</h2>
    <p>Mi nombre es Eber pero en mis redes sociales estoy como @doneberdev</p>
  </SectionContainer>
  <SectionContainer>
    <h2>Contacto</h2>
    <p>
      <a href="mailto:contact@doneber.dev" target="_blank"
        >contact@doneber.dev</a
      >
    </p>
    <a href="https://flowcv.com/resume/eevk7vfmfl" target="_blank">CV</a>
  </SectionContainer>
</main>

<style>
  * {
    font-family: monospace;
  }

  html {
    /* Always dark mode */
    & body {
      background: linear-gradient(#161e33, #10151d);

      --var-primary-color-bg: #222;
      --var-primary-color-text: #eee;
      a {
        color: #549eff;
      }
    }

    & body:after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      animation: dotScroll 6s linear infinite;
      background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 2px, transparent 0);
      background-size: calc(14.2857142857% - 1px) 100px;
      background-position: -60px 0;
    }

  }

  @keyframes dotScroll {
    from {
      background-position-y: 0;
    }

    to {
      background-position-y: 100px;
    }
  }

</style>
