---
import { getI18N } from "@/i18n";
import HeroSection from "@/components/portfolio/Hero.astro"

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<main>
  <HeroSection />
  <section>
    <h2>{i18n.PORTFOLIO.EXPERIENCE_TITLE}</h2>
    <ul>
      {
        i18n.PORTFOLIO.EXPERIENCE_LIST.map((exp) => (
          <li>
            <p>{exp.TITLE_JOB}</p>
            <p>{exp.DESCRIPTION_JOB}</p>
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <h2>Proyectos</h2>
    <ul>
      <li>
        <a href="https://hug.doneber.dev/">Hugs</a>
        <p>Genera mensajes de felicitaciones personalizadas</p>
      </li>
      <li>
        <a href="/">Website</a>
        <p>Sitio web personal de @donberdev</p>
      </li>
    </ul>
  </section>
  <section>
    <h2>Sobre mí</h2>
    <p>Mi nombre es Eber pero en mis redes sociales estoy como @doneberdev</p>
  </section>
  <section>
    <h2>Contacto</h2>
    <p>
      <a href="mailto:contact@doneber.dev" target="_blank"
        >contact@doneber.dev</a
      >
    </p>
    <a href="https://flowcv.com/resume/eevk7vfmfl" target="_blank">CV</a>
  </section>
</main>

<style>
  * {
    font-family: monospace;
  }

  html {
    /* Always dark mode */
    & body {
      background: linear-gradient(#161e33, #10151d);

      --var-primary-color-bg: #222;
      --var-primary-color-text: #eee;
      a {
        color: #549eff;
      }
    }
  }
</style>
