---
import Layout from "./../layouts/Layout.astro";
---

<Layout title="Mi Setup - doneber.dev">
  <main>
    <h1>Mi Setup</h1>
    <img
      src="/assets/images/mi-setup-2023.webp"
      width="450"
      alt="mi setup 2023"
    />
    <section id="mi-setup">
      <p>Los componentes de mi setup son los siguientes:</p>
      <ul>
        <li>
          <strong>Escritorio de Madera:</strong> Conexión con la naturaleza y soporte
          sólido para mis dispositivos.
        </li>
        <li>
          <strong>Monitor LG Retro:</strong> 124x768 píxeles, perfecto para todas
          mis necesidades de visualización.
        </li>
        <li>
          <strong>Teclado y Mouse:</strong> Duraderos y confiables, soportan el uso
          diario intensivo.
        </li>
        <li>
          <strong>Auriculares Simples:</strong> Calidad de sonido inmersiva para
          programar, escuchar música o ver películas.
        </li>
        <li>
          <strong>Laptop con Procesador i3:</strong> Equipada para el rendimiento
          con 4GB de RAM, múltiples conexiones y cámara integrada.
        </li>
        <li>
          <strong>Distribución de Arch de Linux:</strong> Optimización de recursos
          con una interfaz ligera y eficiente.
        </li>
        <li>
          <strong>Silla de Plástico Cervecera:</strong> Comodidad sin lujos, ideal
          para largas horas de trabajo.
        </li>
      </ul>
      <p>
        Este setup, aunque sencillo, me ha permitido desarrollar proyectos,
        aprender y crear contenido efectivamente. ¡Lo importante no es el costo,
        sino cómo lo utilizas!
      </p>
    </section>
  </main>
</Layout>
