---
import avatar from "@/assets/avatar.png";

interface Props {
    shortDescription: string;
    fullDescription: string;
}

const { shortDescription, fullDescription } = Astro.props;

import buttonBackgroundImage from "@/assets/button-bg.svg";
---

<div class="bio box">
    <div class="bio-content">
        <h1>@doneber</h1>
        <div>
            <img src={avatar.src} class="bio-image" alt="Avatar" width="80" />

            <p class="bio-text">
                {shortDescription}
                <br />
                {fullDescription}
            </p>
        </div>

        <a
            href="mailto:contact@doneber.dev"
            class="contact-btn"
            style={{ "background-image": `url(${buttonBackgroundImage.src})` }}
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                    d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            >
            Contact me
        </a>
    </div>
    <div class="see-more">
        <a href="/about">Sobre mí</a>
    </div>
</div>

<style>
    h1 {
        transform: rotate(-0.2deg);
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    .bio-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .bio-text {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        max-width: 90%;
        transform: rotate(-0.1deg);
    }

    .contact-btn {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--bg-container);
        padding: 0.5rem 1rem;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.1s;
        transform: rotate(0.5deg);
    }

    a.contact-btn {
        background-size: cover;
    }

    .contact-btn:hover {
        transform: scale(1.05);
    }

    .bio-image {
        float: right;
        padding: 1rem;
        border-radius: 12px;
        min-height: 50%;
        transform: rotate(-5deg);
        width: 140px;
    }

    html.dark .bio-image {
        filter: contrast(1.5);
    }
</style>
