---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

const NUMBER_LAST_POSTS = 4;

const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, NUMBER_LAST_POSTS);
---

<div class="blog box">
    <h2>Últimos post's</h2>
    <ul class="post-list">
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        <span class="post-title">{post.data.title}</span>
                        <span class="post-date">
                            <FormattedDate date={post.data.pubDate} />
                        </span>
                    </a>
                </li>
            ))
        }
    </ul>
    <div class="see-more">
        <a href="/blog">Ver mas</a>
    </div>
</div>

<style>
    .blog .post-list {
    }

    .blog .post-list li {
        margin-bottom: 1rem;
    }

    .blog .post-list a {
        text-decoration: none;
        color: inherit;
        display: block;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }

    .post-title {
        font-weight: bold;
        display: block;
    }

    .post-date {
        font-size: 0.85rem;
        opacity: 0.8;
        margin-left: 1rem;
    }
</style>
