---
import { getI18N } from "@/i18n";
const i18n = getI18N({ currentLocale: Astro.currentLocale });
---

<div class="footer box">
    <div>
        <p class="copy">{i18n.HOME.FOOTER.COPYRIGHT}</p>
        <p>{i18n.HOME.FOOTER.COPYRIGHT_JOKE}</p>
    </div>
</div>

<style>
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        opacity: 0.9;
    }
    div {
        transform: rotate(-1deg);
        text-align: center;
    }
    .copy {
        font-size: 1.1rem;
        opacity: 1;
    }
</style>
