---
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@/i18n/utils.ts";
import { type Language } from "@/i18n/ui.ts";

const lang = (Astro.currentLocale as Language) || getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="box">
    <nav>
        <a href={translatePath("/about")}>{t("nav.about")}</a>
        <a href={translatePath("/blog")}>{t("nav.blog")}</a>
        <a href={translatePath("/portfolio")}>{t("nav.portfolio")}</a>
        <!-- <a href={translatePath("/setup")}>{t("nav.setup")}</a> -->
    </nav>
</div>

<style>
    nav {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        a::after {
            content: " >";
            font-size: 0.8rem;
            margin-left: 0.3rem;
        }
    }

    nav a {
        width: fit-content;
        padding: 0 1rem;
        text-decoration: none;
        color: var(--accent-blue);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration-thickness: 5px;
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 3px;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }
    }
    /* Responsive Adjustments */
    @media (max-width: 1000px) {
        .box {
            padding-top: 0.5rem;
            padding-right: 100px;
        }
        nav {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            a::after {
                content: "";
            }
        }

        nav a {
            font-size: 1rem;
            padding: 0 0;
        }
    }
</style>
