---
import ThemeIcon from "@/components/ThemeIcon.astro";
import LanguagePicker from "@/components/LanguagePicker.astro";
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="menu box">
    <div class="theme-toggle">
        <LanguagePicker />
        <ThemeIcon />
    </div>
    <nav>
        <a href={translatePath("/blog")}>{t("nav.blog")}</a>
        <a href={translatePath("/about")}>{t("nav.about")}</a>
        <a href={translatePath("/portfolio")}>{t("nav.portfolio")}</a>
    </nav>
</div>

<style>
    .menu {
        padding: 1rem 1.5rem;
        max-height: 200px;
        gap: 0.3rem;
    }

    .theme-toggle {
        text-align: right;
        font-weight: bold;
        margin-bottom: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    .menu nav {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        a::after {
            content: " ►";
            font-size: 0.8rem;
            margin-left: 0.3rem;
        }
    }

    .menu nav a {
        width: fit-content;
        padding: 0 1rem;
        text-decoration: none;
        color: var(--accent-blue);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration-thickness: 5px;
        text-underline-offset: 0.2rem;
        text-decoration-thickness: 3px;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }
    }
    /* Responsive Adjustments */
    @media (max-width: 1000px) {
        .menu {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .menu nav {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a::after {
                content: "";
            }
        }

        .menu nav a {
            font-size: 1rem;
            padding: 0 0;
        }
    }
</style>
