---
import { getI18N } from "@/i18n";
const i18n = getI18N({ currentLocale: Astro.currentLocale });

import discord from "@/assets/social/discord.svg";
import facebook from "@/assets/social/facebook.svg";
import github from "@/assets/social/github.svg";
import instagram from "@/assets/social/instagram.svg";
import linkedin from "@/assets/social/linkedin.svg";
import tiktok from "@/assets/social/tiktok.svg";
import x from "@/assets/social/x.svg";
import youtube from "@/assets/social/youtube.svg";

const social = [
    {
        name: "YouTube",
        url: "https://youtube.com/@doneber",
        icon: youtube,
    },
    {
        name: "Facebook",
        url: "https://facebook.com",
        icon: facebook,
    },
    {
        name: "LinkedIn",
        url: "https://linkedin.com",
        icon: linkedin,
    },
    {
        name: "GitHub",
        url: "https://github.com/doneber",
        icon: github,
    },
    {
        name: "TikTok",
        url: "https://tiktok.com/@doneberdev",
        icon: tiktok,
    },
    {
        name: "Twitter",
        url: "https://twitter.com/@doneberdev",
        icon: x,
    },
    {
        name: "Instagram",
        url: "https://instagram.com/doneberdev",
        icon: instagram,
    },
    {
        name: "Discord",
        url: "https://discord.com/invite/5ak7sZpC4t",
        icon: discord,
    },
];
---

<div class="social box">
    <h2>{i18n.HOME.SOCIAL.TITLE}</h2>
    <div class="social-grid">
        {
            social.map((social) => (
                <a href={social.url} target="_blank" aria-label={social.name}>
                    <social.icon width="32" height="32" />
                    <span>{social.name}</span>
                </a>
            ))
        }
    </div>
</div>

<style>
    .social-grid {
        /* height: 100%; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1.5rem;
        column-gap: 2rem;
        justify-items: center;
        place-content: center;
    }

    .social-grid a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: inherit;
        text-decoration: none;
        font-size: 0.75rem;
        gap: 0.2rem;
    }

    .social-grid svg {
        border-radius: 8px;
        padding: 2px;
    }

    .social-grid a[aria-label="TikTok"] svg,
    .social-grid a[aria-label="GitHub"] svg,
    .social-grid a[aria-label="Instagram"] svg,
    .social-grid a[aria-label="LinkedIn"] svg,
    .social-grid a[aria-label="Facebook"] svg,
    .social-grid a[aria-label="Twitter"] svg,
    .social-grid a[aria-label="Discord"] svg,
    .social-grid a[aria-label="YouTube"] svg {
        border-radius: 6px;
    }
    @media (width <= 1000px) {
        .social-grid {
            row-gap: 1rem;
            column-gap: 0.5rem;
        }
    }
</style>
