<footer>
  <p style="opacity: .85;display:inline-block;color:green;transform:rotate(-4deg);font-family:'Comic Sans MS', 'Comic Sans', 'Papyrus', Courier, Arial;">Design is my passion.</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: end;
  }
</style>