---
import ThemeIcon from "@/components/ThemeIcon.astro";
---

<nav style="display: flex; gap: 2rem;">
  <div style="display: flex; gap: 2rem; flex-wrap: wrap">
    <a href="/">Inicio</a>
    <a href="/blog">Blog</a>
    <a href="/portfolio">Portafolio</a>
    <a href="/about">Sobre mí</a>
    <a href="/setup">Mi Setup</a>
    <a href="https://flowcv.com/resume/eevk7vfmfl">CV</a>
  </div>
  <ThemeIcon />
</nav>
