---
import ThemeIcon from "@/components/ThemeIcon.astro";
import Link from "@/components/Link.astro";
---

<nav>
  <div>
    <Link href="/">Inicio</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/portfolio">Portafolio</Link>
    <Link href="/about">Sobre mí</Link>
    <Link href="/setup">Mi Setup</Link>
    <Link href="https://flowcv.com/resume/eevk7vfmfl">CV</Link>
  </div>
  <ThemeIcon />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    div {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }
</style>
