<nav>
  <ul style="padding-left: 1rem; display: flex; gap: 2rem; flex-wrap: wrap">
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="https://doneber.dev/blog">Mi Blog</a>
    </li>
    <li>
      <a href="https://flowcv.com/resume/eevk7vfmfl">CV</a>
    </li>
    <li>
      <a href="/portfolio.html">Portafolio</a>
    </li>
    <li>
      <a href="/about.html">Sobre mí</a>
    </li>
    <li>
      <a href="/setup.html">Mi Setup</a>
    </li>
  </ul>
</nav>