---
import ThemeToggleButton from "@/components/ThemeToggleButton.astro";
import Link from "@/components/Link.astro";
import PortfolioLink from "@/components/PortfolioLink.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { currentLocale } = Astro;
---

<header>
  <nav>
    <div>
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "")}
        >{t("nav.home")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "blog")}
        >{t("nav.blog")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "about")}
        >{t("nav.about")}</Link
      >
      <Link href={getRelativeLocaleUrl(currentLocale ?? "", "setup")}
        >{t("nav.setup")}</Link
      >
      <PortfolioLink
        href={getRelativeLocaleUrl(currentLocale ?? "", "portfolio")}
        >{t("nav.portfolio")}</PortfolioLink
      >
    </div>
    <div>
      <LanguagePicker />
      <ThemeToggleButton />
    </div>
  </nav>
</header>

<style>
  header {
    margin: 40px auto;
    max-width: 650px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      gap: 1.3rem;
      flex-wrap: wrap;
    }
  }
</style>
