---

---

<button
  id="themeToggle"
  data-theme-toggle
  aria-label="Toggle theme"
  title="Toggle theme"
  class="bright"
>
  <svg width="23" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"
    ><path
      fill="var(--primary-text)"
      d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
      transform="translate(-8 -8)"></path></svg
  >
</button>

<style>
  button {
    width: 2.5rem;
    border: 0;
    background: none;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
  }
  button:hover {
    filter: drop-shadow(
      0 0 10px color-mix(in srgb, var(--primary-text), transparent 10%)
    );
  }
</style>

<script>
  import { setupThemeToggle } from "@/utils/theme";
  setupThemeToggle();
</script>
