---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";
// import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead title={title} description={description} />
    <!-- TODO: fix View transitions to enable dark theme -->
    <!-- <ViewTransitions /> -->
    <style>
      * {
        font-family:
          ui-sans-serif,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Helvetica Neue,
          Arial,
          Noto Sans,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          Segoe UI Symbol,
          "Noto Color Emoji";
      }

      :root {
        --var-primary-color-bg: #fefefe;
        --var-primary-color-text: #444;
      }

      html {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        padding: 0 10px;

        background-color: var(--var-primary-color-bg);
        color: var(--var-primary-color-text);
      }
      html.dark {
        --var-primary-color-bg: #222;
        --var-primary-color-text: #eee;
        a {
          color: #549eff;
        }
      }

      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJSJQ78QYQ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WJSJQ78QYQ");
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
