---
import Navbar from "@/components/Navbar.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <style>
      * {
        font-family:
          ui-sans-serif,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Helvetica Neue,
          Arial,
          Noto Sans,
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          Segoe UI Symbol,
          "Noto Color Emoji";
      }

      :root {
        --var-primary-color-bg: #fefefe;
        --var-primary-color-text: #444;
      }

      html {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        padding: 0 10px;

        background-color: var(--var-primary-color-bg);
        color: var(--var-primary-color-text);

      }
      html.dark {
        --var-primary-color-bg: #222;
        --var-primary-color-text: #eee;
        a {
          color: var(--var-primary-color-text);
       }
      }

      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
